html, body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI";
	width: 100%;
	height: 100%;
}

.node {
	cursor: pointer;
}

.node circle {
	stroke: black;
	fill: white;
}

.node .text {
	font-size: 1.5em;
}

.link {
	stroke: black;
}

p {
	font-size: 1.5em;
}

.rowOfContent {
	padding: 20px 0;
}

.rowOfContent img {
	float: left;
	margin-right: 5%;
	padding: 3px;
}

.clear {
    clear: both;
}

.modal-content {
	font-family: "Segoe UI";
	color: black;

	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.modal-body p {
	font-size: 1em;
}

.modal-body img {
	width: 100px;
}

.resume ul.sections, .resume ul.sectionItems {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button {
	padding: 7px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid black;

	text-align: center;
}

.button:hover:not(.selected) {
	padding: 5px;
	border-width: 3px;
	cursor: pointer;
}

.resume ul.descriptionType {
	margin: 0;
	padding: 0;
	float: left;
}

.resume ul.descriptionType li {
	display: inline-block;
	margin-bottom: 5px;
	padding: 0;
}

.resume ul.descriptionType li .button {
	width: 140px;
	font-size: 0.875em;
}
.resume ul.descriptionType li .button.selected {
	border-color: #0099FF;
}

.resume .printCV {
	float: right;
	width: auto;
	height: 40px;
}

.resume .header {
	font-family: Calibri;
	text-align: center;
}

.resume .header .name,
.resume .header .email {
	display: block;
	margin: 0;
}

.resume .header .name {
	font-size: 3em;
}

.resume .title {
	font-family: 'Trebuchet MS', Arial;
}

.section  {
	margin-bottom: 30px;
}

.section > .title {
	font-size: 1.75em;
	color: grey;
}

.sectionItem {
	margin-bottom: 10px;
}

.sectionItem .title {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
}

.sectionItem .title .when {
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}

.sectionItem > .description {
	font-size: 1em;
}

.sectionItem > .description .when {
	font-style: italic;
}

.sectionItem > .description .when .start {
	font-weight: 600;
}

.sectionItem > .description .details .summary {
	margin-left: 20px;
}

@media all and (max-width: 768px) {
	.rowOfContent {
		padding-bottom: 10px;
	}

	.rowOfContent img {
		margin: 0 auto;
		float: none;
	}
}

@media all and (max-width: 480px) {	
	.node .text {
		font-size: 0.875em;
	}

	.sectionItem .title {
		font-size: 1em;
	}
}
