html, body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI";
}

p {
	font-size: 32px;
}

h1 {
	font-size: 38px;
}

.contentContainer {
	margin: 0 auto;
	max-width: 1366px;
}

.avatarProfile {
	width: 200px;
}

.rowOfContent {
	padding: 20px 0;
}

.rowOfContent img{
	float: left;
}

.rowOfContent img {
	margin-right: 5%;
}

.clear {
    clear: both;
}

ul.aboutMeButtons {
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.aboutMeButtons li {
	display: inline-block;
	list-style-type: none;
	width: 16%;
}

ul.aboutMeButtons li .imageContainer {
	margin: 0 auto;
	padding: 3px;

	border: 1px solid black;
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px;
}

ul.aboutMeButtons li .imageContainer:hover {
	cursor: pointer;
}

ul.aboutMeButtons li .imageContainer img {
	display: block;
    margin: 0 auto;
}

.aboutMeDescriptions * {
	display: none;
}

.modal-body p {
	font-size: 16px;
}

.modal-body img {
	width: 100px;
}

@media all and (min-width: 960px) {
	ul.aboutMeButtons li .imageContainer {
		height: 86px;
		width: 86px;
	}

	ul.aboutMeButtons li img {
		max-width: 80px;
		max-height: 80px;
	}
}

@media all and (max-width: 960px) and (min-width: 768px){
	ul.aboutMeButtons li .imageContainer {
		height: 70px;
		width: 70px;
	}

	ul.aboutMeButtons li img {
		max-width: 64px;
		max-height: 64px;
	}
}

@media all and (max-width: 768px) {
	ul.aboutMeButtons li {
		width: 32%;
	}
}

@media all and (max-width: 768px) and (min-width: 480px){
	ul.aboutMeButtons li .imageContainer {
		height: 126px;
		width: 126px;
	}

	ul.aboutMeButtons li img {
		max-width: 120px;
		max-height: 120px;
	}
}

@media all and (max-width: 480px) and (min-width: 320px){
	ul.aboutMeButtons li .imageContainer {
		height: 86px;
		width: 86px;
	}

	ul.aboutMeButtons li img {
		max-width: 80px;
		max-height: 80px;
	}
}

@media all and (max-width: 320px) {
	ul.aboutMeButtons li {
		width: 48%;
	}

	ul.aboutMeButtons li .imageContainer {
		height: 86px;
		width: 86px;
	}

	ul.aboutMeButtons li img {
		max-width: 80px;
		max-height: 80px;
	}
}
