html, body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI";
	color: white;
	background-color: black;
}

hr {
	border-color: rgba(255, 255, 255, 0.24);
}

p {
	font-size: 24px;
}

h1 {
	font-size: 38px;
}

.rootContentContainer {
	margin: 0 auto;
	max-width: 1366px;
}

.indentedContentContainer {
	margin: 0 5%;
}

.avatarProfile {
	width: 200px;
}

.rowOfContent {
	padding: 20px 0;
}

.rowOfContent img {
	float: left;
	margin-right: 5%;
	padding: 3px;
}

.clear {
    clear: both;
}

.aboutMeButtonsContainer {
	background-color: white;
}

ul.aboutMeButtons {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 18px;
}

ul.aboutMeButtons li {
	display: inline-block;
	list-style-type: none;
	width: 16%;
}

ul.aboutMeButtons li .textContainer {
	margin: 0 auto;
	padding: 10px;
	width: 90%;
	text-align: center;
	color: black;

	border: 1px solid black;
}

ul.aboutMeButtons li .textContainer:hover {
	cursor: pointer;
	color: white;
	border-color: white;
	background-color: black;
}

.modal-content {
	font-family: "Segoe UI";
	color: black;

	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.modal-body p {
	font-size: 16px;
}

.modal-body img {
	width: 100px;
}

.resume ul.sections, .resume ul.sectionItems {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.resume .title {
	font-family: 'Trebuchet MS', Arial;
}

.section  {
	margin-bottom: 30px;
}

.section > .title {
	font-size: 28px;
	color: grey;
}

.sectionItem {
	margin-bottom: 10px;
}

.sectionItem > .title {
	font-size: 20px;
	font-weight: bold;
}

.sectionItem > .title .when {
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

.sectionItem > .description {
	font-size: 18px;
}

.sectionItem > .description .when {
	font-style: italic;
}

.sectionItem > .description .when .start {
	font-weight: 500;
}

@media all and (max-width: 768px) {
	ul.aboutMeButtons li {
		margin-bottom: 10px;
		width: 33.333%;
	}

	.rowOfContent {
		padding-bottom: 10px;
	}

	.rowOfContent img {
		margin: 0 auto;
		float: none;
	}
}

@media all and (max-width: 480px) {
	ul.aboutMeButtons li {
		width: 96%;
	}
}
