.navbar {
    background-color: white;
}

.page {
    display: none; # All pages are hidden by default
}

.page.aboutMe .interests {
    text-align: center;
}

.page.aboutMe .interests .interest {
    height: 140px;
    padding: 10px;
    background-color: #F8F8F8;
}

.page.aboutMe .interests .interest:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.page.aboutMe .glyphicon {
    font-size: 5em;
}

.page.software .interests .interest {
    text-align: center;
}

.page.software .interests .interest img.github {
    height: 300px;
    width: 300px;
    background-color: #F8F8F8;
}

.page.software .interests .interest img.github:hover {
    background-color: #D8D8D8;
}

.page.software table {
    margin-left: auto;
    margin-right: auto;
}

.page.software .experience {
    margin: 30px 0;
}

.page.software .experiences .icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.page.software .experiences .icon img,
.page.software .experiences .icon a {
    display: block;
    width: 100%;
    margin: auto;
}

.page.software .experience .explination .name {
    text-align: center;
    background-color: #F8F8F8;
}

.page.healthcare .videoContainer {
    text-align: center;
}

.clear {
    clear: both;
}

@media (max-width: 1200px) {
    .page.software .experiences .row-eq-height {
        display: block;
    }

    .page.software .experiences .icon img {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .page.aboutMe .interests .interest, .page.healthcare .videoContainer {
        margin: 20px;
    }
}
