html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  width: 100%;
  height: 100%; }

.bigName {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  color: #7F5217;
  z-index: -100; }

img.socialIcon {
  position: fixed;
  bottom: 0;
  opacity: 0.1;
  z-index: 100;
  width: 100px;
  background-color: #7F5217;
  border-radius: 10px; }

img.socialIcon.facebook {
  left: 0; }

img.socialIcon.linkedIn {
  right: 0; }

#aboutMeSvg {
  z-index: 1; }

.node {
  cursor: pointer; }

.node circle {
  stroke: #174480;
  fill: white; }

.node .text {
  font-size: 1.5em;
  fill: #7F5217; }

.link {
  stroke: #174480;
  fill: #174480; }

p {
  font-size: 1.5em; }

.rowOfContent {
  padding: 20px 0; }

.rowOfContent img {
  float: left;
  margin-right: 5%;
  padding: 3px; }

.clear {
  clear: both; }

.modal-content {
  font-family: "Segoe UI";
  color: black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.modal-body p {
  font-size: 1em; }

.modal-body img {
  width: 100px; }

.resume ul.sections, .resume ul.sectionItems {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.button {
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center; }

.button:hover:not(.selected) {
  padding: 5px;
  border-width: 3px;
  cursor: pointer; }

#printSection .button {
  display: none; }

.resume ul.descriptionType {
  margin: 0;
  padding: 0;
  float: left; }

.resume ul.descriptionType li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 5px 0 0; }

.resume ul.descriptionType li .button {
  width: 120px;
  font-size: 0.875em; }

.resume ul.descriptionType li .button.selected {
  border-color: #0099FF; }

.resume .printCV {
  float: right;
  width: auto;
  height: 40px; }

.resume .header {
  font-family: Calibri;
  text-align: center; }

.resume .header .name,
.resume .header .email {
  display: block;
  margin: 0; }

.resume .header .name {
  font-size: 3em; }

.resume .title {
  font-family: 'Trebuchet MS', Arial; }

.section {
  margin-bottom: 30px; }

.section > .title {
  font-size: 1.75em;
  color: grey; }

.sectionItem {
  margin-bottom: 10px; }

.sectionItem .title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0; }

.sectionItem .title .when {
  font-size: 1em;
  font-style: italic;
  font-weight: normal; }

.sectionItem > .description {
  font-size: 1em; }

.sectionItem > .description .when {
  font-style: italic; }

.sectionItem > .description .when .start {
  font-weight: 600; }

.sectionItem > .description .details .summary {
  margin-left: 20px; }

.noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  	                             /* non-prefixed version, currently
                                    not supported by any browser */ }

@media all and (max-width: 768px) {
  .rowOfContent {
    padding-bottom: 10px; }

  .rowOfContent img {
    margin: 0 auto;
    float: none; }

  img.socialIcon {
    width: 50px;
    border-radius: 5px; } }
@media all and (max-width: 480px) {
  .resume ul.descriptionType li {
    display: block; }

  .node .text {
    font-size: 0.875em; }

  .sectionItem .title {
    font-size: 1em; } }
@media screen {
  #printSection {
    display: none; } }
@media print {
  body * {
    visibility: hidden; }

  #printSection, #printSection * {
    visibility: visible; }

  #printSection {
    position: absolute;
    left: 0;
    top: 0; }

  .header a:after {
    display: none; } }

/*# sourceMappingURL=main.css.map */
